mixin project(project)
  - let type = 'project__type--' + project.type.tpl;
  //- let aria_label = 'Go to project: ' + project.title;
  
  a.project(href="#")
    .project__photo
      img(src="" data-src=project.photo.src, alt=project.photo.alt width="50" height="60").lazyload
    .project__descr
      .project__name 
        .project__title.ellipsis=project.title
        .project__type(class=type)
          span.ellipsis=project.type.name
      .project__subtitle
        p=project.subtitle


mixin post(post)  
  //- let aria_label2 = 'Go to post: ' + post.title;

  article.post
    a(href="#")
      .post__thumb
        img(src="" data-src=post.thumb.src, alt=post.thumb.alt width="230" height="103").lazyload
        .post__tags
          a(href="#") adventures
          a(href="#") travels
          a(href="#") health
      .post__caption
        .post__title=post.title
        .post__description Progressively incentivize cooperative systems through technically sound functionalities. The credibly productivate seamless data. The credibly productivate seamless data.
        .post__footer
          .post__footerItem.post__subtitle.ellipsis.ic.ic-calendar=post.subtitle
          .post__footerItem.post__views.ic.ic-eye 1835
          .post__footerItem.post__comments.ic.ic-comment 240
